@CHARSET "utf-8";
body{
	width: 680px;
	margin: 0px auto;
}

header{
	width: 680px;
}

header p{
	text-align: right;
	font-size: 10px;
}

header h1{
	text-align: center;
	font-size: 45px;
	color: skyblue;
	text-shadow: 5px 5px 5px darkblue;
}

header nav{
	background-color: skyblue;
	border-top: 2px solid darkblue;
	border-bottom: 2px solid darkblue;
}

header nav li{
	list-style-type: none;
	display: inline;
	margin-left: 50px;
}

section{
	width: 680px;
}

#mainImg{
	width: 300px;
	float: left;
}

#mainImg img{
	width: 300px;
}

#mainSubMenu{
	float: left;
}

footer{
	clear: both;
	width: 680px;
}

footer p{
	text-align: center;
}